.btn__add {
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 100px;
    outline: none;
}

.btn__close {
    border-radius: 4px;
    background-color: white;
    color: red;
    border: 1px solid red;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    height: 23px;
    outline: none;
}

.btn__add:hover {
    background-color: #4CAF50;
    color: white;
}

.btn__close:hover {
    background-color: red;
    color: white;
}

.input__box {
    border-bottom-color: red;
    border-left: #61dafb;
    border-top: #61dafb;
    border-right: #61dafb;
    outline: none;
}

.modal__title {
    display: flex;
    justify-content: space-between;
}

.input__group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.empty_input_error {
    color: red;
    font-size: 8pt;
}
