table {
    border: 1px solid lightgray;
}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px 10px;
}

.table__item {
    width: 100%;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: lightgray;
}

.pic {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

